
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
*{
    margin: 0;
    padding: 0;
}
.heading-service{
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-style: bold;
    padding: 20px 0;

}
.subheading{
    color: dimgray;
    text-align: center;
    font-style:italic;
    font-size: 1.2rem;
}
.container-services{
   
    display:flex;
    align-items: center;
    padding: 0 30px;
    margin: 20px;
    animation: enterFromTop 0.9s ease-in;
}

.container-services a{
    font-family:'Montserrat', sans-serif;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    color: black;
}
.container-services a:hover{
    color: rgb(160, 109, 143);;
}

.container-services  p{
    text-align: center;
    color: dimgray;
    padding: 0 35px;
    line-height: 30px;
    font-size: 1.2rem;
    font-style:'Montserrat', sans-serif;
}
.icon  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fed136;
    width: 100px; 
    height: 100px;
    padding:10px;
    font-size: 60px;
    text-align: center;
border-radius: 50%;

}

.icon:hover{
    transition: 1s;
    transform: translateY(-0.2em);
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em ;
    background-color:rgb(160, 109, 143);
}
.icon svg{
    width: 60px;
    fill: white;
}
.card-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
@media screen and (max-width:782px){
    .container-services{
        display: flex;
        flex-direction:column;
    }
    .card-service{
        margin: 25px 0;

    }
}

    @keyframes enterFromTop{
        0%{
            transform: translateY(-100%);
        }
    
    
        100%{
            transform: translateY(0%);
        }
        
    }


/*****Navbar style*****/
.navbar{
    position: fixed;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between; 
    align-items: center;   
}
.nav-logo{
    color:  #fed136;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}
.nav-links{
    display: flex; 
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 50px;
    list-style-type: none; 
}

.nav-item a{
    color: aliceblue;
}
.nav-item a:hover{
    color: #fed136;
}


.menu-line{
    width: 20px;
    height: 3px;
    background-color: #fed136;
    margin-bottom: 4px;
    margin-right: 5px;
}

.menu{
    display: none;
}



.container-team{
    background-color: rgb(242, 242, 242);
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
}

.container-team h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    animation: enterFromLeft 0.9s ease-in;
    
}

.container-team p{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    animation: enterFromLeft 0.9s ease-in;
}

.card p{
    margin: 0;
}

.team{
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    animation: enterFromLeft 0.9s ease-in;

}

.card{
    margin: 40px;
    display: flex;
    flex-direction: column;
    max-width: 100%;

}


.card img{
    margin-top: 10px ;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    flex-wrap: wrap;
    border-radius: 50%;
    border: 7px solid lightgray;
    transition: 0.5s;
}

.card img:hover{
    border: 7px solid rgb(250, 195, 188);
}
.team-lorem{
    color: dimgray;
    padding: 0 35px;
    line-height: 30px;
    font-size: 1.2rem;
    font-style:'Montserrat', sans-serif;
}
.card h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 2px;
    font-size: 25px;
}

.card p{
    opacity: 0.6;
}

.card-social{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;  
    margin: 20px;
  }
  
.footer {
    padding: 20px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
}

.copyright {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fa {
    text-align: center;
    width: 40px;
    height: 28px;
    color: #FFF;
    background-color: #000;
    padding-top: 12px;
    border-radius: 30px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

.fa:hover {
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    border: solid 3px rgb(161, 158, 158);
}

a {
    text-decoration: none;
    margin: 10px;
}

.card-social .fa {
    text-align: center;
	width: 40px;
    height: 28px;
	color: #FFF;
	background-color: #000;
	padding-top: 12px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}

.card-social .fa:hover {
	transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
} 

.ftext {
    display: inline-block;
    margin: 5px;
}

.wspace {
    color: rgb(236, 198, 10);
}

.ftext:hover {
    text-decoration: underline;
}
@media screen and (max-width: 782px){
    .team{
        flex-direction: column;
    }

    .container-team p{
        text-align: center;
        margin-left: 70px;
        margin-right: 70px
    }

    .team{
        padding-left: 20px;
        padding-right: 20px;
    
    }

    .container-team h2{

    font-size: 40px;}

    .container-team p{
        font-size: 18px;

    }

    .card h3{
        font-size: 30px;
    }

    .card p{
        font-size: 18px;
    }

    .card{
        padding-bottom: 20px;
        border-bottom: 1px dashed rgb(174, 174, 174);
    }
    
}

@keyframes enterFromLeft {

    0%{
        transform: translateX(-100%);
    }


    100%{
        transform: translateX(0%);
    }

}

/* form begin*/

.container-form {
    background-image: url('https://cdn11.bigcommerce.com/s-yqkp4d/images/stencil/2048x2048/products/5284/7427/bw_mural__05436.1453158303.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    filter: contrast(black);
    padding-bottom: 50px;
    max-width: 100%;
}

.container-form h2{
    text-align: center;
    color: white;
    font-size: 45px;
    margin-bottom: 0;
}

.container-form p{
    text-align: center;
    color: white;
    font-size: 20px;
    opacity: 0.75;
    margin-bottom: 30px;
}


form{
    padding-left: 200px;
    padding-right: 200px;
}
.subform{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.container-form form input{
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
}

.container-form form textarea{
    border-radius: 5px;
    border: none;
    padding: 15px;
}

.form-name{
    grid-column: 1/3;
}
.form-email{
    grid-column: 1/3;
}
.form-phone{
    grid-column: 1/3;
}
.form-message{
    grid-column: 3/5;
    grid-row: 1/4;
}

.div-btn{
    grid-column: 2/4;
    display: flex;
    justify-content: center;
}

form button{
    width: 150px;
    padding: 20px;
    background-color: gold;
    border-radius: 7px;
    color: white;
    border: none;
    font-weight: 900;
}

@media screen and (max-width: 768px){
    form{
        padding-left: 100px;
        padding-right: 100px;
    }


    .form-name{
        grid-column: 1/5;
    }
    .form-email{
        grid-column: 1/5;
    }
    .form-phone{
        grid-column: 1/5;
    }
    .form-message{
        grid-column: 1/5;
        grid-row: 4/6;
    }

    .form-message{
        height: 100px;
    }

    .container-form h2{
        font-size: 35px;

    }

    .container-form p{
        font-size: 15px;
    }

}

@media screen and (max-width: 1024px){
    form{
        padding-left: 100px;
        padding-right: 100px;
    }

    /* form end*/

@media   screen and (max-width: 768px)
{
    .flex-container{
  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
     }
@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

}
@media screen and (max-width: 780px){
   .navbar{
    flex-direction: column;
    position: relative;
   }
   .nav-logo{
    width: 100%;
   }

    .menu{
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
   }
   .nav-links{
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
    
   }
   .nav-item a{
   flex-direction: column;
   display: flex;
   gap: 2px;
   }

   .active{
    display: block;
   }

}
