.portfolio {
    background-color: rgb(242, 242, 242);
}
.portfolio h2 {
    padding-top: 100px;
}

.portfolio-image {
    width: 100%;
}
.portfolio h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
}
.portfolio-caption-subheading {
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    color: gray;
    padding: 20px;
}
.portfolio-caption-heading {
    padding-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.grid-container {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: auto auto;
    gap: 30px;
    justify-content: center;
    padding-bottom: 50px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
.overlay {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: (0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    text-decoration: none;
    font-size: 10em;
}

.overlay:hover {
    opacity: 1;
    background-color: rgba(255, 187, 0, 0.651);
    height: 69%;
}

@media (max-width: 1250px) {
    .grid-container {
    grid-template-columns: 300px 300px 300px;
    }
    .overlay:hover {
        height: 65.5%;
    }
}
@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 300px 300px;
        grid-template-rows: auto auto auto;
    }
    .overlay:hover {
        height: 65.5%;
    }
}
@media (max-width: 750px) {
    .grid-container {
        grid-template-columns: 250px 250px;
    }
    .overlay:hover {
        height: 61.5%;
    }
}
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 400px;
    }
    .overlay:hover {
        height: 71.5%;
    }
}